*{
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #191919;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0e0e0e;      /* very dark track */
}

::-webkit-scrollbar-thumb {
    background: #333;         /* dark grey thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;         /* lighter on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 #0e0e0e;
}
